# Ignore virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment variables and secrets
.env

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
